<a href="something" class="bouncy">Facebark</a>
<a href="something" class="bouncy" style="animation-delay:0.07s">SJWHub</a>
<a href="something" class="bouncy" style="animation-delay:0.14s">Plebbit</a>
<a href="something" class="bouncy" style="animation-delay:0.21s">4chin</a>
<a href="/" class="bn5">Hover</a>


<div class="container">
    <div class="center">
      <button class="btn">
        <svg width="180px" height="60px" viewBox="0 0 180 60" class="border">
          <polyline points="179,1 179,59 1,59 1,1 179,1" class="bg-line" />
          <polyline points="179,1 179,59 1,59 1,1 179,1" class="hl-line" />
        </svg>
        <span>HOVER ME</span>
      </button>
    </div>
  </div>