<mat-toolbar>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>Prove Tecniche Angular</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button>
  </mat-toolbar>

 <div class="div">

    <app-prova2></app-prova2>
    <app-prova [data]="frutta"></app-prova>

 </div>

<!-- <app-prova></app-prova> -->

<!-- <app-menu-burger></app-menu-burger> -->

<!-- <app-list-item></app-list-item> -->

<!-- <app-menu-over></app-menu-over> -->

<!-- <app-contact-us></app-contact-us> -->

<!-- <app-check-box1></app-check-box1> -->

<!-- <app-button-bouncy></app-button-bouncy> -->


